.doc_article {

  &--item {
  margin: 336px 188px 115px 195px ;
    .image{
      background: url("/../../images/H1N1.png");
      background-repeat: no-repeat;
      border: 1px solid $doc-c4;
      width: 446px;
      height: 463px;
      background-color: rgba(66, 66, 89, 0.4);
      margin: -149px;
      padding: 0px;
      @media($phone)
      {
        width: 100%;

      }
      h3{
        color: #ffffff;
        font-family: $doc-firasans;
        font-size: 34px;
        font-weight: 500;
        line-height: 38.02px;
        text-align: center;
      }

      h2{
        margin-top: -108%;
        text-align: center;
        color: $doc-c0;
        font-family: $doc-firasans;
        font-size: 17px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }


    }
    h2 {
      font-family: $doc-robotothin;
    }

  }

