.doc_hp_listing {
  padding: 0 32px 70px;
  position: relative;
  h2 {
    padding-top: 40px;
    font-family: $doc-firasanscondensed-medium;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
  }
  i {
    color: $doc-c3;
    position: absolute;
    font-size: 5em;
    top: -40px;
    right: 0;
  }
  hr {
    margin: 0;
  }

  a.load-more {
    @include button_white;
    display: table;
    margin: auto;
  }
}
