.doc_other_articles {
  padding: 16px;
  h2 {
    color: $doc-c1;
    font-family: $doc-firasanscondensed-medium;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin: 16px 0 0;
    width: 80%;
  }
}
