.doc_footer {
  //position: fixed;
  //width: 100%;
  bottom: 0;
  height: 75px;
  background-color: $doc-c0;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  &--search {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $doc-c3;
    text-align: center;
    display: block;
    margin-top: 14px;
    float: right;
    i {
      color: $doc-c0;
      line-height: 49px;
    }
  }

  &--tags {
    @include listing_tags_style;
  }

  &--share {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin: 0;
    height: 75px;
    list-style: none;

    a {
      cursor: pointer;
    }

    li:first-of-type {
      color: $doc-c1;
      font-family: $doc-firasanscondensed-medium;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      margin-right: 10px;
    }

    span {
      margin: 0 5px;
      i {
        font-size: 12px;
        color: $doc-c0;
        position: absolute;
        top: 19px;
        left: 18px;
      }
    }

    span.facebook {
      width: 49px;
      height: 49px;
      border-radius: 24px;
      background-color: #3b5998;
      display: block;
      position: relative;
      i {
        top: 17px;
        left: 20px;
        font-size: 15px;
      }
    }

    span.twitter {
      width: 49px;
      height: 49px;
      border-radius: 24px;
      background-color: #76a9ea;
      display: block;
      position: relative;
    }

    span.whatsapp {
      width: 49px;
      height: 49px;
      border-radius: 24px;
      background-color: $doc-c3;
      display: block;
      margin-right: 20px;
      position: relative;
      &:after {
        content: '';
        border: 10px solid transparent;
        border-left-color: $doc-c3;
        position: absolute;
        bottom: -4px;
        left: 3px;
        transform: rotate(30deg);
      }
    }
  }
}
