.doc_article {

  &--item {


      h2{
          font-weight: bold;
          padding-top: 746px;
      }
    }

    &-image{
        img{
          width: 100%;
        }

     }
    h2 {
      font-family: $doc-robotothin;
    }

  }


