<footer class="doc_footer">
    <div class="row">
        <div class="col-3">
            <a href="#">
                <div class="doc_footer--search">
                    <i class="custom-icon custom-icon-zoom"></i>
                </div>
            </a>
        </div>
        <div class="col-9">
            {% if not can_share %}
                <ul class="doc_footer--tags">
                    <li><a href="#"><span>Ebola</span></a></li>
                    <li><a href="#"><span>Grippe</span></a></li>
                    <li><a href="#"><span>VIH/SIDA</span></a></li>
                    <li><a href="#"><span>VIH/SIDA</span></a></li>
                </ul>
            {% else %}
                <ul class="doc_footer--share">
                    <li>Partager</li>
                    <li>
                        <a href="#">
                            <span class="facebook">
                                <i class="custom-icon custom-icon-facebook"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="twitter">
                                <i class="custom-icon custom-icon-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="whatsapp">
                                <i class="custom-icon custom-icon-call"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="search_container">
        <div class="search_container--form">
            <div class="search_container--form-keyword-container">
                <input {#value="Optique"#} placeholder="Chercher ici" type="text" class="search_container--form-keyword-container-input">
                <button class="search_container--form-keyword-container-clear">
                    <i class="custom-icon custom-icon-cancel"></i>
                </button>
            </div>
            <button class="search_container--form-search-btn">
                <i class="custom-icon custom-icon-zoom"></i>
            </button>
            <button class="search_container--form-close">Fermer</button>
        </div>
        <div class="search_container--results">
            <span>08 résultats</span>
            <div class="mt-2">
                <h3>Articles <span>04</span></h3>
                {% for result in results %}
                    {% include '../line/listing_item.html.twig' %}

                    {% if not loop.last %}
                        <hr />
                    {% endif %}
                {% endfor %}
                <a class="search_container--results-load_more" href="#">Plus d'articles</a>
            </div>
            <div class="mt-4">
                <h3>Tutoriels <span>04</span></h3>
                {% for result in results %}
                    {% include '../line/listing_item.html.twig' %}

                    {% if not loop.last %}
                        <hr />
                    {% endif %}
                {% endfor %}
                <a class="search_container--results-load_more" href="#">Plus de tutoriels</a>
            </div>

        </div>
    </div>
</footer>
