<nav class="doc_header">
    <header>
            <div class="doc_header--wrapper">
                <h1>Allo Docteurs<span class="doc_header--logo-noir">Africa</span></h1>
                <nav>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Destination</a></li>
                        <li><a href="#">google</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </nav>
            </div>
    </header>
 </nav>
