<nav class="doc_header">
    <div class="container-fluid">
          <div class="doc_header--navbar">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="doc_header--navbar-btn">
                          <a class="button" href="#">Maman - Bébé <span>3</span></a>
                          <a class="button" href="#">Bien-étre</a>
                          <a  class="button" href="#">Encyclopédie</a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <img class="image-navbar" src="../../svg/logo.svg" alt="">
                  </div>
                  <div class="col-lg-3">
                      <select  class="float-right">
                          <option value="GBP" data-pi>Egypt💷</option>
                          <option value="USD">France💵</option>
                          <option value="YEN">Espagne💴</option>
                      </select>
                  </div>
                  <div class="col-lg-1">
                      <div class="doc_header--navbar menu">
                          <a href="">
                              <img src="../../svg/menu.svg"></img>
                          </a>
                      </div>
                  </div>
              </div>



          </div>
    </div>
</nav>
