<article class="doc_listing_sub">
    <div class="row">
        <div class="col-9">
            <p>
                Inauguration de l'hôpital militaire d'Abidjan
            </p>
        </div>
        <div class="col-3 video">
            <img src="/images/sub_item_doc.png" alt="">
        </div>
    </div>
</article>
