<div class="doc_article_details--container-quote">
    <div class="row">
        <div class="col-4">
            <div class="doc_article_details--container-quote-img">
                <img src="/images/avatar.png" alt="">
            </div>
        </div>
        <div class="col-8">
            <p>7 échantillons sur 13 présentent des “taux de non-conformité très élevés”.</p>
        </div>

        <div class="col-12">
            <span>onssa de tanger</span>
        </div>
    </div>
</div>
