<div class="doc_article_details--container-video">
    <a href="#" youtubeid="WIjf-671UlM">
        <div class="video_preview" style="background-image: url('/images/video_preview.png')"></div>

        <h4>La vaccination est efficace</h4>
        <span>7min 30</span>
    </a>
    <div class="video_container"></div>
    <div class="clearfix"></div>
</div>
