<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	{% include 'includes/header.html.twig' %}
	{% block body %}{% endblock %}
	{% include 'includes/footer.html.twig' %}
</body>
</html>