{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <i class="custom-icon custom-icon-sun"></i>
        <i class="custom-icon custom-icon-ice-cream"></i>
    </div>
{% endblock %}