@font-face {
  font-family: 'robotothin';
  src: url('/fonts/Roboto/Roboto-Thin.ttf') format('ttf'),
  url('/fonts/Roboto/Roboto-Thin.woff') format('woff'),
  url('/fonts/Roboto/Roboto-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'creteround';
  src: url('/fonts/CreteRound/CreteRound-Regular.ttf') format('ttf'),
  url('/fonts/CreteRound/CreteRound-Regular.woff') format('woff'),
  url('/fonts/CreteRound/CreteRound-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

