/*GENERAL*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial sans-serif;
	font-size: 15px;
}
h1{
	font-family: Arial;
	font-size: 45px;
	color: #fff;
}
.doc_header--logo-noir
{
	color: #000;
}


