/*--- Color ---*/
$doc-c0: #fff;
$doc-c1: #000;
$doc-c3: #33ca56;
$doc-c4: #D8D8D8;

/*--- Font  ---*/
$doc-firasanscondensed-regular: 'firasanscondensed-regular', sans-serif;
$doc-firasanscondensed-light: 'firasanscondensed-light', sans-serif;
$doc-firasanscondensed-medium: 'firasanscondensed-medium', sans-serif;

/*--- Areas ---*/
$padding-mobile: 16px;

/*--- Responsive ---*/
$maxDesktop: 'min-width: 1600px';
$desktop: 'max-width: 1200px';
$tablet: 'max-width: 1024px';
$minphone: 'min-width: 768px';
$smallTablet: 'max-width: 991px';
$phone: 'max-width: 768px';
$mediumPhone: 'max-width: 576px';
$smallPhone: 'max-width: 400px';
