@font-face {
	font-family: "custom-icon";
	src: url("custom-icon.eot?211bb82d1065834a0e63579093d094c1?#iefix") format("embedded-opentype"),
url("custom-icon.woff2?211bb82d1065834a0e63579093d094c1") format("woff2"),
url("custom-icon.woff?211bb82d1065834a0e63579093d094c1") format("woff");
}

.custom-icon {
	line-height: 1;
}

.custom-icon:before {
	font-family: custom-icon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.custom-icon-sun:before {
	content: "\f101";
}
.custom-icon-ice-cream:before {
	content: "\f102";
}
