@font-face {
	font-family: "custom-icon";
	src: url("custom-icon.eot?95b135fc2256905615fc5f9936cdc3b4?#iefix") format("embedded-opentype"),
url("custom-icon.woff2?95b135fc2256905615fc5f9936cdc3b4") format("woff2"),
url("custom-icon.woff?95b135fc2256905615fc5f9936cdc3b4") format("woff");
}

.custom-icon {
	line-height: 1;
}

.custom-icon:before {
	font-family: custom-icon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.custom-icon-call:before {
	content: "\f101";
}
.custom-icon-sun:before {
	content: "\f102";
}
.custom-icon-ice-cream:before {
	content: "\f103";
}
.custom-icon-right-arrow:before {
	content: "\f104";
}
.custom-icon-placeholder:before {
	content: "\f105";
}
.custom-icon-zoom:before {
	content: "\f106";
}
.custom-icon-menu:before {
	content: "\f107";
}
.custom-icon-facebook:before {
	content: "\f108";
}
.custom-icon-twitter:before {
	content: "\f109";
}
