<section class="doc_article">
    <div class="doc_article--item">
        <div class="col-md-4 doc_article--item image">
            <h2>sexualité</h2>
            <h3>Santé sexuelle,<br>pourquoi est-ce tabou ?</h3>

        </div>
    </div>
</section>
