<section class="doc_article_une">
    <div class="doc_article_une--container" style="background-image: url('/images/article_une.png');">
        <div class="doc_article_une--container--titles">
            <h2>Sexualité</h2>
            <h3>Santé sexuelle,<br>pourquoi est-ce tabou ?</h3>
        </div>
    </div>
</section>

{% include 'sub_article.html.twig' %}
