<section class="doc_article">
    <div class="doc_article--item">
        <h2>À Savoir</h2>
        <h3>La drépanocytose, c'est quoi?</h3>

        <div class="doc_article--item-image">
            <img src="/images/article.png" alt="">
        </div>
    </div>
</section>

{% include 'sub_article.html.twig' %}
