<section class="doc_hp_listing separator-before without-hr" style="background-color: rgba(51, 202, 86, 0.13);">
    <h2>La santé au Bénin</h2>
    <i class="custom-icon custom-icon-placeholder"></i>

    {% for result in results %}
        {% include '../line/listing_item.html.twig' %}

        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}

    <a class="load-more" href="#">Plus d'infos locales</a>

    {% include 'conseils.html.twig' %}

</section>
