<section class="doc_hp_listing separator-before without-hr" style="background-color: rgba(51, 202, 86, 0.13);">
    <h2>La santé au Bénin</h2>
    <i class="custom-icon custom-icon-placeholder"></i>

    {% include '../line/listing_item.html.twig' %}

    <hr />

    {% include '../line/listing_item.html.twig' %}

    <hr />

    {% include '../line/listing_item.html.twig' %}

    <a href="#">Plus d'infos locales</a>

    {% include 'conseils.html.twig' %}

</section>
