<section class="doc_sub_article">
    <article class="doc_sub_article--item">
        <div class="row">
            <div class="col-4 doc_sub_article--item-image">
                <div class="">
                    <img src="/images/article.png" alt="">
                </div>
            </div>
            <div class="col-8">
                <h4>Medicament</h4>
                <p>5 conseils pour bien vivre avec la drépanocytose</p>
            </div>
        </div>
    </article>
    <article class="doc_sub_article--item">
        <div class="row">
            <div class="col-4 doc_sub_article--item-image">
                <div class="video">
                    <img src="/images/sub_article.png" alt="">
                </div>
            </div>
            <div class="col-8">
                <h4>Conseils</h4>
                <p>Comment se transmet la drépanocytose</p>
            </div>
        </div>
    </article>
</section>
